@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Mulish', sans-serif;
}

body {
   width: 100%;
   background: var(--bg-color);
}

header {
   width: 100%;
   padding: 20px 30px;
   box-shadow: var(--shadow-menu);
}

.header__container{
   width: 100%;
   max-width: 1400px;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

main {
   width: 100%;
   max-width: 1400px;
   margin: 0 auto;
}

.logo {
   display: flex;
   align-items: center;
}

.logo__name {
   color: var(--font-color);
   font-weight: 700;
   font-size: var(--logo);
   margin-left: 30px;
}

.logo__img {
   height: 28px;
}

.menu {
   display: flex;
   align-items: center;
}

.menu__options {
   display: inherit;
   align-items: center;
}

.menu__options li {
   list-style: none;
   margin-right: 30px;
}

.menu__options-link {
   color: var(--font-color);
   font-size: var(--xsm);
   font-weight: 400;
   text-decoration: none;
}

.menu__options-link::after {
   content: "";
   display: block;
   height: 2.5px;
   background: var(--blue);
   width: 0;
   transition: all .6s;
}

.menu__options-link:hover::after {
   width: 100%;
}

.active-link {
   pointer-events: none;
   cursor: not-allowed;
}

.menu__options.show{
   top: 74px;
   right: 0;
}

.hamburger {
   background-color: transparent;
   height:20px;
	width:25px;
	transform:translate3d(0, 0, 0);
   transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
   cursor: pointer;
   display: none;
   margin-left: 30px;
   z-index: 1000;
}

.hamburger__line {
   background: var(--font-color);
	margin-bottom: 4px;
	border-radius:2px;
	width: 25PX;
	height: 4px;
	opacity:1;
	transform:translate3d(0, 0, 0);
	transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}

.hamburger.show .-top{
	transform:translateY(200%) rotate(45deg);
}
.hamburger.show .-mid{
	opacity:0;
}
.hamburger.show .-bottom{
	transform:translateY(-200%) rotate(134deg);
}

.btn,
.options__link {
   display: inline-block;
   color: var(--font-color);
   font-size: 700;
   position: relative;
   border: 1px solid transparent;
   background-clip: padding-box, border-box;
   background-origin: padding-box, border-box;
   background-image: linear-gradient(45deg, var(--bg-color), var(--bg-color)), var(--gradient);
	border-radius: 8px;
   text-decoration: none;
   cursor: pointer;
}

.options__link {
   transition: all 0.6s;
}

.btn:active,
.options__link:active {
   transform: scale(0.96);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
   -webkit-appearance: none; 
}

.options__link:hover {
   transform: translateY(-10px);
}

.container {
   background: var(--bg-color);
   border-radius: 25px;
   box-shadow: var(--neumorphism-container);
   padding: 24px 47px;
   margin: 0 auto;
   width: 100%;
   max-width: 450px;
   justify-self: center;
}

.input {
   background: var(--bg-color);
   border-radius: 8px;
   box-shadow: var(--neumorphism-input);
   padding: 5px 10px;
   width: 100%;
   max-width: 200px;
   border: none;
   text-align: center;
   font-size: var(--sm);
   color: var(--font-color);
   outline: none;
}

.information-container {
   width: 90%;
   max-width: 1400px;
   margin: 80px auto 100px auto;
}

.title {
   display: flex;
   justify-content: center;
   align-items: center;
}

.title__text {
   font-size: var(--lg);
   color: var(--font-color);
   font-weight: 800;
}

.title__img {
   margin-left: 30px;
   width: 70px;
   height: 70px;
   display: block;
}

.description {
   color: var(--font-color);
   text-align: center;
   font-size: var(--md);
   font-weight: 400;
   margin-top: 60px;
}

footer {
   text-align: center;
   color: var(--font-color);
   font-size: var(--sm);
   margin: 80px 0 24px 0;
}

.credits__link {
   color: var(--blue);
   text-decoration: none;
}

/*Theme*/
.theme {
   position: relative;
   cursor: pointer;
}

.icon-theme {
   height: 30px;
   width: 30px;
}

@media all and (max-width: 576px) {
   .information-container {
      margin-top: 80px;
   }

   .description {
      font-size: 1.2rem;
   }

   footer {
      padding-bottom: 15px;
   }

   .title__img {
      display: none;
   }

   .container {
      width: 90%;
      padding: 24px 18px;
   }
}

@media all and (max-width: 1100px) {
   .title__text {
      font-size: 45px;
      text-align: center;
   }

   .hamburger {
      display: inline;
   }

   .menu__options {
      position: fixed;
      width: 100%;
      height: calc(100vh - 74px);
      background: var(--bg-color);
      top: 74px;
      right: -100vw;
      text-align: center;
      transition: all 1s;
      flex-direction: column;
      justify-content: space-evenly;
      z-index: 300;
   }

   .menu__options li {
      margin-right: 0;
   }

   .menu__options-link {
      width: 220px;
      padding: 8px 0;
      font-size: var(--sm);
      display: inline-block;
      position: relative;
      border: 1px solid transparent;
      background-clip: padding-box, border-box;
      background-origin: padding-box, border-box;
      background-image: linear-gradient(45deg, var(--bg-color), var(--bg-color)), var(--gradient);
      border-radius: 8px;
   }

   .menu__options-link:hover::after {
      width: 0;
   }
}